.App {
  text-align: center;
  }

  #full_back{
  background: #403B4A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul > li {
    list-style-type: none;
    }
    .container_login, .container_register, .container_project, .container_profile{
      margin-top: 10%;
      }

    .container_profile{
      margin-left: 5%;
    }

    .flex-container{
     display: flex;
     width: 100%;
     /* flex-wrap: nowrap; */
     
   }

   .flex-container > div{
    margin: 10px;
    text-align: center;
   }
   
   #plusSign{
    width: 10%;
    margin-top: 5%;
   }
  #Edit, #Delete{
    width: 15%;
   }
  .nav_elements {  
    color: #B4B4C4;
    font-size: 20px;
    margin-right: 30%;
    font-family: 'Raleway, Open Sans, sans-serif';
  }
  .button_text{
    color: #B4B4C4;
    font-size: 25px;
    font-family: 'Raleway, Open Sans, sans-serif';
  }

 .form_text {
    font-weight: bold;
    font: 16px Raleway, "Open Sans", sans-serif;
    color: #32325D
  }
  .form_title_text{
    font-weight: bold;
    font: 25px Raleway, "Open Sans", sans-serif;
    color: #32325D;
    
  }
    
#top_footer > h1{
  color: #B4B4C4;
  font: 28px Raleway, "Open Sans", sans-serif;
  font-weight: bold;
  }

li {
  float: left;
}

.card-text{
  color: #B4B4C4;
  font: 24px Raleway, "Open Sans", sans-serif;
  font-weight: bold;
}
.card-body > h6{
  color: #B4B4C4;
  font: 18px Raleway, "Open Sans", sans-serif;
  }
footer{
  color: #32325D;
  font: 14px Raleway, "Open Sans", sans-serif;
}
#footer{
  width: 70%;
  margin-left: 15%;
}
#main{
  margin-top: 100px;
  background: #403B4A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }
 .main_text{
    font-weight: bold;
    font: 50px Raleway, "Open Sans", sans-serif;
    color: #32325D
 }

 #sub_text{
  font: 18px Raleway, "Open Sans", sans-serif;
  color: #32325D
 }


 .jumbotron.mt-5{
  background: #403B4A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: transparent;
  border-radius: 0%;

 }
 
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.socialMedia{
  width: 75%;
}
.logoIron{
  width: 30%;
  border-radius: 10px 10px;
  border-style: solid;
  border-width: thin;
  border : solid 1.5px #B4B4C4;  /* fallback for old browsers */
   
}

/* input file styling */


/************************************************

NAVBAR STYLING

*************************************************/

/* nav{
  background-color: dodgerblue;
}

.navList {

  list-style-type: none;

  display: flex;


}

.link {
  text-decoration: none;

  padding: 0 8px;
} */





/************************************************

              DROP ZONE STYLING

*************************************************/
/* 
.drop-zone-container {
  width: 700px;
  height: 200px;
  background-color: #e4e4e4;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 1px solid #cccccc;
  will-change: transform;
  transition: transform 0.3s;
}

.drop-zone-container.hover {
  transform: scale(0.95);

  background-color: rgb(209,236,241);
}

.drop-zone-container:hover {
  cursor: pointer;
}

.drop-zone-container input {
  display: none;
}

.hasFile {
  
  background-color: rgb(212,237,218);

} */

/************************************************

              FILE PREVIEW STYLING

*************************************************/

/*  */
/* #pg-viewer > div > div > video {
  width: 300px;
  height: 600px;
}

#video-container {
  margin-top: 10%;
  text-align: left;
} 

 Project-Form styling

  .project-upload-container {

  border: 1px solid blue;

  display: flex;
  align-items: center;
  justify-content: center;

}

.project-upload-container__form {

  border: 3px solid green;

  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* PROJECT LIST STYLING */
/* *************************************************/ 

/* .project-list-container {
  background-color: grey;
  height: 90vh;
}

.project-list-container__list {

  list-style: none;

  display: flex;
  justify-content: space-around;
  justify-content:center;
  flex-wrap: wrap;


}

.project-list-container__list__list-items {

  margin: 0 15px;
  margin-right: 40px;
} */ 

/* video styling */

.container_video{
  margin-top: 20%;
  display: flex;
  width: 100%;
}

.container_video > div{
  margin: 10px;
  text-align: center;
 }

 .creationSub{
  margin-top: 20%;
  display: flex;
  width: 100%;
 }

 .creationSub > div{
  margin: 10px;
  text-align: center;
 }

#show-subtitles{
  
  /* background-color: blue; */
  margin-top: 5%
}